version: '3.8'
services:
  proxy:
    image: traefik:latest
    environment:
      TRAEFIK_PROVIDERS_DOCKER_SWARMMODE: true
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: false
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: traefik-net
      TRAEFIK_PROVIDERS_DOCKER_ENDPOINT: unix:///var/run/docker.sock
      TRAEFIK_ENTRYPOINTS_WEB_ADDRESS: :80
      TRAEFIK_API_INSECURE: true
      TRAEFIK_API_DASHBOARD: true
      TRAEFIK_METRICS_PROMETHEUS_ENTRYPOINT: metrics
      TRAEFIK_ENTRYPOINTS_METRICS_ADDRESS: :8280
      TRAEFIK_ACCESSLOG: true
      TRAEFIK_ACCESSLOG_BUFFERINGSIZE: 100
      TRAEFIK_PROVIDERS_DOCKER_DEFAULTRULE: Host(`traefik.sillycat.com`)
    volumes:
     - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
     - traefik-net
    logging:
      driver: json-file
    ports:
     - 80:80
    deploy:
      labels:
        traefik.http.middlewares.traefik-auth.basicauth.users: admin:$apr1$nRjvD8Mo$RoNV3IssxSKad0K9vSDjN1,user:$apr1$8hlxyJlg$SibCpgUpVq3/8M4nTeFPX1
        traefik.http.routers.traefikRouter.rule: Host(`traefik.sillycat.com`)
        traefik.http.routers.traefikRouter.entrypoints: web
        traefik.http.routers.traefikRouter.middlewares: traefik-auth
        traefik.http.routers.traefikRouter.service: api@internal
        traefik.http.services.justAdummyService.loadbalancer.server.port: 1337
        traefik.enable: 'true'
      placement:
        constraints:
         - node.role == manager
networks:
  traefik-net:
    external: true

